<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}">

</head>
<body class="h-100 bg-light">
<nav th:replace="~{layout/layout :: navbar}"></nav>

<section class="h-100 bg-light">
    <div class="bg-white ml-wide">
        <div class="pl-4 w-100">
            <div class="row justify-content-md-center align-items-stretch  w-100">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-7 ">
                    <div class="p-4 p-md-5 rounded-0 pt-5 containter">
                        <div class="row pt-5">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h1 class="h2 fw-bolder">Reglas</h1>
                                    <h3 class="fs-6 fw-normal text-secondary m-0">Inserta los detalles para crear la
                                        regla</h3>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/regla-tipo-prestacion/save}" th:method="post" th:object="${reglaDTO}">
                            <div class=" row gy-3 gy-md-4 overflow-hidden justify-content-center fs-6">
                                <div class=" row col-12 mx-0 px-0">
                                    <div class="my-2 mx-0">
                                        <label class="form-label" for="descripcion">Descripción</label>
                                        <input aria-label="descripcion" class="form-control rounded-0" id="descripcion"
                                           name="descripcion"
                                           placeholder="Descripción" required th:field="*{dec}"
                                           type="text">
                                        <p class="text-danger" th:errors="*{dec}" th:if="${#fields.hasErrors('dec')}"></p>
                                    </div>
                                </div>
                                <div class="row col-12 px-0">
                                    <div class="col-6 my-2 mx-0">
                                        <label class="form-label" for="fecha_inicio">Fecha de inicio</label>
                                        <input class="form-control rounded-0" id="fecha_inicio" name="fecha_inicio"
                                               th:field="*{datIni}"
                                               type="date">
                                        <p class="text-danger" th:errors="*{datIni}"
                                           th:if="${#fields.hasErrors('datIni')}"></p>
                                    </div>
                                    <div class="col-6 my-2 mx-0">
                                        <label class="form-label" for="fecha_fin">Fecha de finalización</label>
                                        <input class="form-control rounded-0" id="fecha_fin" name="fecha_fin" th:field="*{datFin}"
                                            type="date">
                                        <p class="text-danger" th:errors="*{datFin}"
                                            th:if="${#fields.hasErrors('datFin')}"></p>
                                    </div>

                                </div>

                                <div class="row col-12 px-0">
                                    <div class="my-2 mx-0">
                                        <label class="form-label
                                        " for="tipo_prestacion">Tipo de prestación</label>
                                        <select class="form-select rounded-0" id="tipo_prestacion" multiple name="tipoPrestacion"
                                            required>
                                        <option th:each="tipoPrestacion : ${tipoPrestacionList}"
                                                th:text="${tipoPrestacion.dec}"
                                                th:value="${tipoPrestacion.coa}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <p class="text-danger" th:errors="*{script}"
                                       th:if="${#fields.hasErrors('script')}"></p>
                                    <label class="form-label mb-2" for="regla">Script</label>
                                    <textarea aria-label="regla" class="form-control rounded-0" id="regla"
                                              th:field="*{script}"></textarea>
                                </div>

                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="btn btn-secondary rounded-0" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bg-light p-4 p-md-5 rounded-0 col-12 col-md-12 col-lg-4 col-xl-5 col-xxl-5">
                    <div class="pt-5">
                        <h2 class="fw-bolder h3 mb-3">Placeholder Instrucciones</h2>
                        <h3 class="fw-bolder h6 mx-6">1. Subtítulo</h3>
                        <p>Prueba de texto de ejemplo, tutorial para demostrar cómo funciona la aplicación.</p>
                        <textarea class="form-control rounded-0" readonly > Esto es una prueba</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script th:src="@{/js/pack-codemirror.js}"></script>

<script th:src="@{/js/custom_crear_editar.js}" type="text/javascript"></script>
</body>
</html>
