<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}"></head>
<body>
<nav th:replace="~{layout/layout :: navbar}" class="nav"></nav>

<section class="container mt-4 p-5">
    <div class="row mb-3">
        <h1>Reglas</h1>
    </div>

    <form class="row g-3">
        <div class="col-auto">
            <label for="keyword" class="visually-hidden">Keyword</label>
            <input type="text" name="keyword" class="form-control" id="keyword" placeholder="Valor a buscar" th:value="${keyword}">
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary mb-3" value="Enviar">
        </div>
    </form>

<!--    <p th:text="${reglasTipoPrestacion}"></p>-->

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de fin</th>
            <th scope="col">Tipo de prestación</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>

        <!-- Itera sobre la lista de reglas -->
        <tr th:each="regla : ${reglasTipoPrestacion}" th:if="${regla.getNoutRegles.active}">
            <td th:text="${regla.getNoutRegles.con}"></td>
            <td th:text="${regla.getNoutRegles.dec}"></td>

            <td th:text="${#dates.format(regla.getNoutRegles.datIni,'dd/MM/yyyy' )}"></td>
            <td th:text="${#dates.format(regla.getNoutRegles.datFin,'dd/MM/yyyy' )}"></td>
            <td th:text="${regla.noutTipprs.dec}"></td>
            <td class="d-flex justify-content-evenly">
                <a type="button" class="btn btn-outline-info" id="btn-info" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${regla.getNoutRegles.con}">
                    +
                </a>
                <a th:href="@{/regla-tipo-prestacion/editar/{reglaId}/{tipoPrestacionId}(reglaId=${regla.getNoutRegles.con}, tipoPrestacionId=${regla.noutTipprs.coa})}" class="btn btn-outline-warning" id="btn-edit">✎</a>
                <a th:href="@{/regla-tipo-prestacion/delete/{reglaId}/{tipoPrestacionId}(reglaId=${regla.getNoutRegles.con}, tipoPrestacionId=${regla.noutTipprs.coa})}" class="btn btn-outline-danger" id="btn-delete">
                    ✕
                </a>
            </td>

<!--             Modal -->
            <div class="modal fade" th:id="'modal-' + ${regla.getNoutRegles.con}" tabindex="-1" th:aria-labelledby="'masInfo-' + ${regla.getNoutRegles.con}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'masInfo-' + ${regla.getNoutRegles.con}">Más información</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Descripción</h3>
                            <p th:text="${regla.getNoutRegles.dec}"></p>

                            <h3>Tipo de prestación</h3>
                            <h5>Prestaciones</h5>
                            <p th:if="${regla.noutTipprs.getPrestacions().size() == 0}">No hay prestaciones</p>
                            <p th:each="prestacion : ${regla.noutTipprs.getPrestacions}" th:text="${prestacion.toString()}"></p>

                            <h5>Descripción</h5>
                            <p th:text="${regla.noutTipprs.dec}"></p>

                            <h3>Script</h3>
                            <textarea class="form-control" th:id="'regla-'+${regla.getNoutRegles.con}" aria-label="regla" th:text="${regla.getNoutRegles.script}"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>

        </tbody>

    </table>

    <!-- Paginación -->
    <p th:if="${totalPages == 0}">No hay reglas</p>

    <nav aria-label="Navegación de la página" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   th:classappend="${currentPage == 0} ? disabled"
                   th:href="@{/regla-tipo-prestacion/list(page=${currentPage - 1})}"
                >Previous</a></li>

            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/regla-tipo-prestacion/list(page=${page})}"
                   th:text="${page + 1}"
                   th:classappend="${currentPage==page} ? active"
                   class="page-link"></a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:classappend="${currentPage == totalPages - 1} ? disabled"
                   th:href="@{/regla-tipo-prestacion/list(page=${currentPage + 1})}"
                >Next</a></li>
        </ul>
    </nav>

</section>



<script th:src="@{/js/codemirror.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom_index.js}"></script>
</body>
</html>