<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}"></head>
<body>
<nav th:replace="~{layout/layout :: navbar}" class="nav"></nav>

<section class="container mt-4 p-5">
    <div class="row mb-3">
        <h1>Reglas</h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de fin</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de reglas -->
        <tr th:each="regla : ${reglasTipoPrestacion}">
            <td th:text="${regla.reglaEntity.nombre}"></td>
            <td th:text="${#dates.format(regla.reglaEntity.fecha_inicio,'dd/MM/yyyy' )}"></td>
            <td th:text="${#dates.format(regla.reglaEntity.fecha_fin,'dd/MM/yyyy' )}"></td>
            <p th:text="${regla}"></p>
            <td class="d-flex justify-content-evenly">
                <a type="button" class="btn btn-outline-info" id="btn-info" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${regla.reglaEntity.id}">
                    +
                </a>
                <a th:href="@{/editar/{id}(id=${regla.reglaEntity.id})}" class="btn btn-outline-warning" id="btn-edit">✎</a>
                <a th:href="@{/{id}(id=${regla.reglaEntity.id})}" class="btn btn-outline-danger" id="btn-delete">
                    ✕
                </a>
            </td>

            <!-- Modal -->
            <div class="modal fade" th:id="'modal-' + ${regla.reglaEntity.id}" tabindex="-1" th:aria-labelledby="'masInfo-' + ${regla.reglaEntity.id}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'masInfo-' + ${regla.reglaEntity.id}">Más información</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>Descripción</h3>
                            <p th:text="${regla.reglaEntity.descripcion}"></p>

                            <h3>Tipo de prestacion</h3>
                            <h4>Descripción</h4>
                            <p th:text="${regla.TipoPrestacionEntity.descripcion}"></p>
                            <h4>Prestaciones</h4>
                            <ul>
                                <li th:each="prestacion : ${regla.TipoPrestacionEntity.prestaciones}" th:text="${prestacion}"></li>
                            </ul>

                            <h3>Script</h3>
                            <textarea class="form-control" th:id="'regla-'+${regla.reglaEntity.id}" aria-label="regla"  th:text="${regla.reglaEntity.script}"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>

        </tbody>
    </table>
    </section>



<script th:src="@{/js/codemirror.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom_index.js}"></script>
</body>
</html>