<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}"></head>
<body>
<nav class="nav" th:replace="~{layout/layout :: navbar}"></nav>

<section class="container mt-4 p-5">
    <div class="row mb-3">
        <h1>Validación</h1>
    </div>

    <table class="table table-hover" id="table">
        <thead>
        <tr>
            <th scope="col">Resultado</th>
            <th scope="col">Id</th>
            <th scope="col">Descripción</th>
        </tr>
        </thead>
        <tbody>

        <!-- Itera sobre la lista de reglas -->
        <tr th:each="regla : ${reglas}"
        >
            <td class="col-1 py-3" th:switch="${regla.dec}"
            >
                <span class="badge bg-success" th:case="Prueba">
                    <img th:src="@{/img/check-lg.svg}" alt="check">
                </span>
                <span class="badge bg-danger" th:case="Paco">
                <img th:src="@{/img/ban.svg}" alt="ban">
                </span>
                <span class="badge bg-warning" th:case="*">
                   <img th:src="@{/img/exclamation-triangle.svg}" alt="warning">
                </span>
            </td>
            <td class="col-1 py-3" th:text="${regla.con}"></td>
            <td class="py-3" th:text="${regla.dec}"></td>

        </tr>

        </tbody>

    </table>

</section>


<script th:src="@{/js/custom_index.js}"></script>
<script th:src="@{/js/codemirror.min.js}"></script>
</body>
</html>