<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}"></head>

<body>

<nav th:replace="~{layout/layout :: navbar}"></nav>

<section class="h-100 bg-light">
    <div class="bg-white ml-wide">
        <div class="pl-4 w-100">
            <div class="row justify-content-md-center align-items-stretch  w-100">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-7 ">
                    <div class="p-4 p-md-5 rounded-0 pt-5 containter">
                        <div class="row pt-5">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h1 class="h2 fw-bolder">Sentencias</h1>
                                    <h3 class="fs-6 fw-normal text-secondary m-0">Inserta los detalles para crear la
                                        sentencia SQL</h3>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/sql/save}" th:method="post" th:object="${sql}">
                            <div class=" row gy-3 gy-md-4 overflow-hidden justify-content-center fs-6">
                                <div  class=" row col-12 mx-0 px-0">
                                    <div class="my-2 mx-0">
                                        <label class="form-label" for="key">KEY</label>
                                        <input aria-label="key" class="form-control rounded-0" id="key" name="key" placeholder="key"
                                            required th:field="*{key}" type="text">
                                        <span class="text-danger"
                                            style="font-size: 80%;"
                                            th:if="${#fields.hasErrors('key')}">
                                            <span th:errors="*{key}"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row col-12 px-0">
                                    <div class="col-6 my-2 mx-0">
                                        <label class="form-label" for="descripcion">Descripción</label>
                                        <input aria-label="descripcion"
                                            class="form-control rounded-0"
                                            id="descripcion"
                                            name="descripcion"
                                            placeholder="descripcion"
                                            required
                                            th:field="*{description}"
                                            type="text"
                                        >
                                        <span class="text-danger"
                                            style="font-size: 80%;"
                                            th:if="${#fields.hasErrors('description')}">
                                            <span th:errors="*{description}"></span>
                                        </span>
                                    </div> 
                                </div>

                                <div class="col-12">
                                    <span class="text-danger"
                                          style="font-size: 80%;"
                                          th:if="${#fields.hasErrors('value')}"
                                          th:errors="*{value}"
                                    ></span>
                                    <label class="form-label mb-2" for="sentence">Sentencia</label>
                                    <textarea
                                            aria-label="sentence"
                                            class=class="form-control rounded-0"
                                            id="sentence"
                                            th:field="*{value}">
                                    </textarea>
                                </div>

                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="btn btn-primary rounded-0" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bg-light p-4 p-md-5 rounded-0 col-12 col-md-12 col-lg-4 col-xl-5 col-xxl-5">
                    <div class="pt-5">
                        <h2 class="fw-bolder h3 mb-3">Placeholder Instrucciones</h2>
                        <h3 class="fw-bolder h6 mx-6">1. Subtítulo</h3>
                        <p>Prueba de texto de ejemplo, tutorial para demostrar cómo funciona la aplicación.</p>
                        <textarea class="form-control rounded-0" readonly > Esto es una prueba</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CodeMirror JavaScript -->
<script th:src="@{/js/pack-codemirror.js}"></script>

</body>
</html>
