<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}">

</head>
<body>
<nav th:replace="~{layout/layout :: navbar}"></nav>

<section class="h-100 bg-light">
    <div class="bg-light py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h2 class="h3">Sentencias SQL</h2>
                                </div>
                            </div>
                        </div>
                        <form
                                method="post" th:action="@{/sql/save/{con}(con=${sql.con})}" th:object="${sql}">

                            <div class="row gy-3 gy-md-4 overflow-hidden justify-content-center">
                                <div class="col-12">
                                    <label class="form-label" for="key">KEY</label>
                                    <input aria-label="key" class="form-control" id="key" name="key" placeholder="key"
                                           th:field="*{key}" type="text">
                                    <span class="text-danger"
                                          style="font-size: 80%;"
                                          th:if="${#fields.hasErrors('key')}">
                                        <span th:errors="*{key}"></span>
                                    </span>
                                </div>

                                <div class="col-12">
                                    <label class="form-label" for="descripcion">Descripción</label>
                                    <input aria-label="descripcion"
                                           class="form-control"
                                           id="descripcion"
                                           name="descripcion"
                                           placeholder="descripcion"
                                           th:field="*{description}" type="text">
                                    <span class="text-danger"
                                          style="font-size: 80%;"
                                          th:if="${#fields.hasErrors('description')}">
                                        <span th:errors="*{description}"></span>
                                    </span>
                                </div>

                                <div class="col-12">
                                    <label class="form-label mb-2" for="sentence">Sentencia</label>
                                    <p class="text-danger"
                                          style="font-size: 80%;"
                                          th:errors="*{value}"
                                          th:if="${#fields.hasErrors('value')}"
                                    ></p>
                                    <textarea
                                            aria-label="sentence"
                                            class="form-control"
                                            id="sentence"
                                            th:field="*{value}">
                                    </textarea>
                                </div>

                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CodeMirror JavaScript -->
<script th:src="@{/js/pack-codemirror.js}"></script>

</body>
</html>
