<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layout/layout :: head}"></head>
<body>
<nav class="nav" th:replace="~{layout/layout :: navbar}"></nav>

<section class="container mt-4 p-5">
	<div class="row mb-3">
		<h1>Sentencias SQL</h1>
	</div>

	<div class="d-flex my-4 col-lg-3 col-md-4  align-content-end">
		<input aria-label="Search" class="form-control me-1" id="search" placeholder="Search" type="search">
	</div>


	<table class="table table-striped table-bordered table-hover" id="table">
		<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Descripción</th>
			<th scope="col">key</th>
			<th scope="col">Acciones</th>
		</tr>
		</thead>
		<tbody>

		<!-- Itera sobre la lista de sentencias -->
		<tr th:each="sentence : ${sentences}"
			th:if="${sentence.getActive()}"
		>
			<td th:text="${sentence.con}"></td>
			<td th:text="${sentence.description}"></td>
			<td th:text="${sentence.key}"></td>
			<td class="d-flex justify-content-evenly">
				<a class="btn btn-outline-info" id="btn-info" th:onclick="showSql([[${sentence}]])"
				   type="button">
					+
				</a>
				<a class="btn btn-outline-warning"
				   id="btn-edit" th:href="@{/sql/editar/{con}(con=${sentence.con})}">✎</a>

				<a class="btn btn-outline-danger"
				   id="btn-delete" th:href="@{/sql/delete/{con}(con=${sentence.con})}">
					✕
				</a>
			</td>
		</tr>

		</tbody>

	</table>

	<!-- Paginación -->
	<p th:if="${totalPages == 0}">No hay sentencias</p>

	<nav aria-label="Navegación de la página" th:if="${totalPages > 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link"
				   th:classappend="${currentPage == 0} ? disabled"
				   th:href="@{/sql/list(page=${currentPage - 1})}"
				>Previous</a></li>

			<li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
				<a class="page-link"
				   th:classappend="${currentPage==page} ? active"
				   th:href="@{/sql/list(page=${page})}"
				   th:text="${page + 1}"></a>
			</li>

			<li class="page-item">
				<a class="page-link"
				   th:classappend="${currentPage == totalPages - 1} ? disabled"
				   th:href="@{/sql/list(page=${currentPage + 1})}"
				>Next</a></li>
		</ul>
	</nav>

	<div id="sentencia-container" style="display: none">
		<h3>Sentencia</h3>

		<div class="col-12">
			<textarea aria-label="regla" class="form-control" id="sentencia"
			></textarea>
		</div>
	</div>

</section>

<script th:inline="javascript">
	const reglaDiv = document.getElementById('sentencia-container');
	const codeSentencia = document.getElementById('sentencia');
	let myCodeMirror; // Variable global para guardar la instancia de CodeMirror

	// Función para inicializar CodeMirror
	function initializeCodeMirror() {
		myCodeMirror = CodeMirror.fromTextArea(codeSentencia, {
			lineNumbers: true,
			lineWrapping: true,
			mode: 'sql',
			styleActiveLine: true,
			readOnly: true
		});
	}

	// Llamar a la inicialización de CodeMirror cuando la página se carga
	window.onload = initializeCodeMirror;

	// Función para mostrar las sentencias
	function showSql(sql) {
		const sentences = /*[[${sentences}]]*/ [];
		const sentence = sentences.find(s => s.con === sql.con);

		reglaDiv.style.display = 'contents';
		myCodeMirror.setValue(sql.value); // Actualizar el contenido del CodeMirror
	}
</script>
<script th:src="@{/js/custom_index_sql.js}"></script>
<script th:src="@{/js/codemirror.min.js}"></script>
</body>
</html>