<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}">

</head>
<body>
<nav th:replace="~{layout/layout :: navbar}"></nav>
<div class="container mt-5">
    <h1>Welcome Home!</h1>
    <p sec:authorize="isAuthenticated()">Hello, <span sec:authentication="name"></span>! </p>
    <p sec:authorize="hasRole('USER')">With rol <span sec:authentication="principal.authorities"></span></p>
    <p sec:authorize="hasRole('ADMIN')">With rol <span sec:authentication="principal.authorities"></span></p>
</div>
</body>
</html>

