:root{
    --primary: #007bff;
    --secondary: #2B7A77;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #DDF1F0;
    --dark: #182329;
    --white: #ffffff;
}

#btn-delete {
    font-size: 1.1em;
    :hover {
    background-color: var(--danger);
}
}

#btn-edit {
	font-size: 1.1em;

	:hover {
		background-color: var(--warning);
	}
}

#btn-info {
	font-size: 1.1em;

	:hover {
		background-color: var(--info);
	}
}

.active-link {
	position: relative;
}

.active-link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px; /* Ajusta este valor según tu preferencia para el grosor del borde */
	width: 100%;
	height: 1px; /* Grosor del borde */
	background-color: var(--dark); /* Color del borde */
}

.ml-wide{
    margin-left: 10vw;
}

html{
    font-size: 0.84rem;
}

nav{
    font-size: 1.2rem !important;
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
	padding-left: 2.5em !important; /* Ajusta este valor según sea necesario */
}

html, body{
    height:100%;
    width:100%;
}
section{
	height: 100% !important;
}

.botonesAcciones{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}