<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${titlePage}"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/dracula.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/codemirror.min.css}">
</head>
<body>
<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-dark m-0 p-0">
    <div class="mx-4">
        <img class="mx-2" th:src="@{/img/escudo_palma.png}" alt="Escudo de Palma de Mallorca" width="30" />
    </div>
    <div class="d-flex flex-column container-fluid m-0 p-0">
        <div class="container-fluid d-flex flex-row px-4 py-2">
            <div class="collapse navbar-collapse justify-content-end">
                
            </div>
        </div>
        <div class="container-fluid d-flex align-items-center flex-row bg-secondary px-4 py-1 m-0">
            <a class="navbar-brand text-white" th:href="@{/home}">SERSOC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Reglas Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="reglasDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reglas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reglasDropdown">
                            <li><a class="dropdown-item" th:href="@{/regla-tipo-prestacion/list}">Listado reglas</a></li>
                            <li><a class="dropdown-item" th:href="@{/regla-tipo-prestacion/crear}">Crear regla</a></li>
                        </ul>
                    </li>

                    <!-- SQL Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="sqlDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            SQL
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="sqlDropdown">
                            <li><a class="dropdown-item" th:href="@{/sql/list}">Listado sql</a></li>
                            <li><a class="dropdown-item" th:href="@{/sql/crear}">Crear sentencia</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav px-5"  >
                    <li class="nav-item" th:if="${authenticated}">
                            <div>
                                <a type="submit" id="logoutmenubutton" class="h-full w-full btn btn-light flex align-items-center justify-content-center">
                                    <img th:src="@{/img/box-arrow-right.svg}" alt="Log out button" width="30" />
                                </a>
                            </div>
                    </li>
                </ul>
                <div id="logoutmenu" style="transition: all 0.5s ease; opacity: 0 !important; width: 200px; height: 100px; margin: 60; top: 40px; right: 80px; border-radius: 15px;" class="shadow-sm position-absolute bg-white d-flex justify-content-center align-items-center">
                    <form th:action="@{/logout}" method="post">
                        <div>
                                <a type="submit" class="btn btn-light">
                                    Cerrar Sesión
                                </a>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </div>
       <!-- Custom JS -->
       <script th:src="@{/js/logoutmenu.js}"></script>
</nav>

</body>
</html>
