<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${titlePage}"></title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--Custom CSS-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <link rel="stylesheet" th:href="@{/css/codemirror.min.css}">

    <!--Bootstrap JS-->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<!--Navbar-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Reglas CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active" th:classappend="${titlePage == 'Reglas' ? 'active-link' : ''}">
                    <a class="nav-link" th:href="@{/regla-tipo-prestacion/list}">Listado</a>
                </li>
                <li class="nav-item active" th:classappend="${titlePage == 'Crear regla' ? 'active-link' : ''}">
                    <a class="nav-link" th:href="@{/regla-tipo-prestacion/crear}">Crear regla</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>