<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${titlePage}"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- CodeMirror -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/dracula.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/codemirror.min.css}">
</head>
<body>
<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">SERSOC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Reglas Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reglasDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Reglas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reglasDropdown">
                        <li><a class="dropdown-item" th:href="@{/regla-tipo-prestacion/list}">Listado reglas</a></li>
                        <li><a class="dropdown-item" th:href="@{/regla-tipo-prestacion/crear}">Crear regla</a></li>
                    </ul>
                </li>

                <!-- SQL Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sqlDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        SQL
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sqlDropdown">
                        <li><a class="dropdown-item" th:href="@{/sql/list}">Listado sql</a></li>
                        <li><a class="dropdown-item" th:href="@{/sql/crear}">Crear sentencia</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="navbar-nav">
                <li class="nav-item" th:if="${authenticated}">
                    <form th:action="@{/logout}" method="post" class="nav-link">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <a type="submit" class="btn btn-outline-secondary">
                            Cerrar sesión
                        </a>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>

</body>
</html>
